<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
    <context:property-placeholder location="classpath:mucicPlayer.properties"/>
    <bean id="musicBeanPhonk"
          class="org.example.PhonkMusic">
    </bean>

    <bean id="musicBeanRock"
          class="org.example.RockMusic">
    </bean>

    <bean id="musicBeanClassical"
          class="org.example.ClassicalMusic"
          init-method="init"
          destroy-method="destroy"
    >
    </bean>

    <bean id="musicPlayerBean"
          class="org.example.MusicPlayer">
        <property name="musicList" ref="musicBeanClassical"/>
    </bean>

</beans>